body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align: center;
    color:chocolate;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h2 {
    margin-top: 10px;
    color: chocolate;
}

.item p {
    margin: 10px 0;
    color: chocolate;
}
input{
margin-left: 41%;
}
p{
    color: chocolate;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}